/* Inject a nicer font */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/SourceSansPro-Light.ttf') format('truetype');
}

/* And now, use it */

* {
  font-family: 'Source Sans Pro', sans-serif !important;
}

/* Inject some more body-styles */
html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #121212;
}

#player canvas {
  box-shadow: none;
}

#player #view-box1 canvas {
  border-radius: 4px;
}

#player-control-panel.player-control-panel {
  height: 56px;
  padding: 4px;
  border-radius: 4px;
  background: #1E1E1E;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fefefe;
  display: flex;

  position: fixed;
  top: unset !important;
  bottom: 2%;
  margin: 0 2rem;
}

/* Remove all abs-styling */
#playpause,
#volume,
#time,
#layout,
#audio-control,
#video-control {
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  position: relative !important;
}

#video-control {
  flex: 1 1 0;
}

/* Restore the order of the elements after switching to obv. better fleboxes. */
#playpause { order: 1; }
#layout { order: 2; }
#divider1 { order: 3;}
#video-control { order: 4; }
#time { order: 5; }
#divider2 { order: 6;}
#audio-control { order: 7; }
#volume { order: 8; }
#divider3 { order: 9;}
#playback-speed { order: 10; }
#speed-icon { order: 11; }

/* Better Video-controls */
#player-control-panel.player-control-panel #video-control {
  position: relative;
  margin: auto 8px;
  border-radius: 12px;
  height: 4px;
  background: #3C5C78;
  border: unset;
}

#player-control-panel.player-control-panel #video-control #video-progress {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #90CAF9;
  background: currentColor;
  border: 1px solid currentColor;
}

#player-control-panel.player-control-panel #video-control #video-playhead {
  color: #90CAF9;
  background: currentColor;
  width: 20px;
  height: 20px;
  /* hacky shit */
  transform: translateY(-8px);
}

/* Timecode-spacing */
#player-control-panel.player-control-panel #time.timecode {
  margin: auto 8px;
  font-weight: 300;
}


/* Better Audio-controls */
#player-control-panel.player-control-panel #audio-control {
  position: relative;
  margin: auto 8px;
  border-radius: 12px;
  height: 4px;
  background: #3C5C78;
  border: unset;
}

#player-control-panel.player-control-panel #audio-control #audio-progress {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #90CAF9;
  background: currentColor;
  border: 1px solid currentColor;
}

#player-control-panel.player-control-panel #audio-control #audio-playhead {
  color: #90CAF9;
  background: currentColor;
  width: 20px;
  height: 20px;
  /* hacky shit */
  transform: translateY(-8px);
}


/* General Slider injection (much cleaner) */
#player .playhead .handle {
  background: currentColor;
}



/* Style the injected speed-controls */
#playback-speed {
  position: relative;
  margin: auto 8px;
}

#playback-speed select {
  all: unset;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 8.5px 32px 8.5px 14px;
}

#playback-speed option {
  background: rgb(18, 18, 18);
  border-radius: 0;
  padding: 8px 0;
}

#playback-speed option:checked {
  background: #242424;
}

#playback-speed option:first-child {
  padding-top: 8px;
}
#playback-speed option:first-child {
  padding-bottom: 8px;
}

#playback-speed #icon {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}

#playback-speed #icon svg{
  color: #fefefe;
}

/* Speed Icon */

#speed-icon {
  width: 32px;
  height: 32px;
  margin: auto 8px;
  position: relative;
  background: unset;
}

#speed-icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #fefefe;
}


.divider {
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
}

/* Inject a play/pause transition into the player */
#player::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  opacity: 0;
  border-radius: 50%;
}

#player.paused::before {
  background: center / 36px no-repeat url('chrome-extension://__MSG_@@extension_id__/assets/pause.svg'),
            rgb(0, 0, 0, 0.8) 35%;
  animation: hide_pause 500ms linear 100ms 1 normal forwards !important;
}

#player.playing::before {
  background: center / 36px no-repeat url('chrome-extension://__MSG_@@extension_id__/assets/play.svg'),
            rgb(0, 0, 0, 0.8) 35%;
  animation: hide_play  500ms linear 100ms 1 normal forwards !important;
}



/* Hide-Animation */
@keyframes hide_play {
	0% {
		opacity: 0;
	}
  40% {
    opacity: 1;
  }
  100% {
		opacity: 0;
	}
}

@keyframes hide_pause {
	0% {
		opacity: 0;
	}
  40% {
    opacity: 1;
  }
  100% {
		opacity: 0;
	}
}

/* Button-styling */

#player-control-panel #playpause,
#player-control-panel #layout,
#player-control-panel #volume {
  position: relative;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: auto 8px;

  /* remove any old background images */
  background: unset;
}

/* Common before-element, used for the Icons */
#player-control-panel #playpause::before,
#player-control-panel #layout::before,
#player-control-panel #volume::before {
  content: ' ';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  width: 24px;
  height: 24px;
}

#player-control-panel #playpause:hover,
#player-control-panel #layout:hover,
#player-control-panel #volume:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

/* Ripple */
#player-control-panel #playpause::after,
#player-control-panel #layout::after,
#player-control-panel #volume::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear;
  
  background-color: rgba(255, 255, 255, 0.12);
}

#player-control-panel #playpause:active:after,
#player-control-panel #layout:active::after,
#player-control-panel #volume:active::after {
  opacity: 1;
  animation: button-ripple-show 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms 1 forwards;
}

@keyframes button-ripple-show {
	0% {
		width: 0%;
    height: 0%;
	}
  100% {
		width: 100%;
    height: 100%;
	}
}



/* New Icons for the Buttons */

/* Play/Pause */
#player-control-panel #playpause::before {
  background: url('chrome-extension://__MSG_@@extension_id__/assets/pause.svg');
}

#player-control-panel.paused #playpause::before {
  background: url('chrome-extension://__MSG_@@extension_id__/assets/play.svg');
}


/* Volume */
#player-control-panel #volume::before {
  background: url('chrome-extension://__MSG_@@extension_id__/assets/volume-high.svg');
}

#player-control-panel #volume.muted::before {
  background: url('chrome-extension://__MSG_@@extension_id__/assets/volume-off.svg');
}


/* Layout */
#player-control-panel #layout::before {
  background: url('chrome-extension://__MSG_@@extension_id__/assets/card-multiple.svg');
}



/* Chapters */
#video-control .chapter {
  background: unset;
}

#video-control .chapter::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(90deg) translateX(-8px);
  width: 24px;
  height: 14px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/assets/label.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



#video-control .chapter > div {
  background: #1E1E1E;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fefefe;
  padding: 8px;
  border-radius: 4px;

  position: relative;
  top: 0;
  left: 50%;
  transform: unset;
  transform: translate(-50%, -100%) translateY(-16px);
}

#video-control .chapter > div::after {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: -7px;
  transform: translate(-50%, 0) rotateZ(-45deg);
  background: #1E1E1E;
  border: 1px solid rgba(255, 255, 255, 0.1);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  z-index: 101;
}
